<div class="container">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Account Number</th>
            <th scope="col">Deposit Amount</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
    
    
        <tbody *ngFor="let d of deposits">
    
            <tr>
                <td  >
                    {{d.accNo}}
                
                </td>
                <td >{{d.depositAmount}}</td>
                <td>{{d.date}}</td>
            </tr>
          
        </tbody>
      </table>
    
</div>